iframe {
    display: inline;
}

video {
    display: inline;
}

.navlink {
    display: inline;
    background-color: orange;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    padding: 3px;
}

.navlink:hover {
    background-color: lightgreen;
}

.navtext {
    color: gray;
}

.navtext:hover {
    color: darkgray;
}
